nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-details {
  flex: 0 0 60%;
}

.product-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details .price {
  font-size: 18px;
  color: #777;
}

.product-details p {
  margin-bottom: 20px;
}

.add-to-cart-btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 1rem;
  margin-left: 0.75rem;
  margin-top: 1rem;
}

.related-products {
  flex: 0 0 30%;
}

.related-products h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.product img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.product p {
  margin-top: 10px;
  margin-left: 0.75rem;
}

.product .price {
  color: #777;
  margin-left: 0.75rem;
}

.product-container {
  display: flex;
  background-color: #f9f9f9;
  border: 2px solid #3399ff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-images {
  flex: 1;
}

.product-images img {
  display: block;
  width: 100%;
  height: auto;
}

.product-details {
  flex: 1;
  padding: 20px;
}

.product-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details .rating {
  color: #777;
  margin-bottom: 10px;
}

.product-details .price {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.add-to-cart-btn {
  padding: 10px 20px;
  background-color: #3399ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.add-to-cart-btn:hover {
  background-color: #007bff;
}

.other-img {
  display: flex;
  margin-top: 0.2rem;
  gap: 52px;
  width: 150px;
}
