/* Omar Douiba: douibaomar@gmail.com */
/* HEADER */

/* NAVBAR */
/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-letter {
  
  font-size: 40px;
  font-weight: 700;
}

.logo {
  font-size: 30px;
  margin-left: 1.5rem;
  line-height: 1.5;
}

.nav-menu {
  display: flex;
  line-height: 1.75;
  list-style: none;
}

/* .nav-menu li {
  padding: 0.rem;
} */

.nav-menu li a {
  color: var(--clr-grey-1);
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.75rem;
}

.nav-menu li:hover a {
  border-bottom: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  transition: var(--transition);
}
/* BANNER */
.ban {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/banner.jpg") center/cover no-repeat fixed;
  height: calc(80vh - 70px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ban h1 {
  opacity: 100%;
  color: white;
}

.ban p {
  opacity: 100%;
  color: white;
}
.ban p,
.ban h1 {
  align-items: center;
}

/* About Us */
.about-img-div {
  width: 400px;
  height: 300px;
}
.about-img {
  width: 400px;
  border: 3px solid var(--clr-grey-5);
  overflow: hidden;
}
.about-img-div:hover {
  opacity: 0.5;
  transition: var(--transition);
  transform: scale(1.2);
}

/* Irom */
