<<<<<<< HEAD
/* Omar */
/*section {
  display: inline-block; /* Make sections display side-by-side */
 /* width: 45%; /* Set width for each section */
  /*margin: 10px;  /* Add some margin between sections */
  /*padding: 20px; /* Add padding inside sections */
  /*border: 1px solid #ddd; /* Add a thin border */
/*}

/* Style the headings */
  /*h1 {
  /*text-align: center; /* Center align headings */
/*}

/* For the first section with class "gr" */
/* Center the container */
.gr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #51cf66;
  min-height: 100vh;
  padding: 50px 0;
}

.gr .container {
  max-width: 1000px;
  width: 100%;
  height: 450px;
  background-color:var(--clr-white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style the heading */
.gr .container h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

/* Style the paragraph */
.gr .container p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

/* Style for the dropdown menu */
.dropdown-menu {
  list-style-type: none;
  padding: 0;
}

/* Style for dropdown items */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for dropdown buttons */
.dropdown-btn {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
}

/* Style for dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
}

/* Style for dropdown items */
.dropdown-content li {
  padding: 10px;
  list-style: none;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}




/* Center the container */
.yl {
  display: flex;
  justify-content: center;
  background-color:#fff;
  align-items: center;
  min-height: 200vh;
  padding: 50px 0;
  height: 100vh;
}

.yl .container {
  max-width: 1000px;
  width: 100%;
  height: 500px;
  background-color:#51cf66;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

/* Style the heading */
.yl .container h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

/* Style the product images */
.product-images {
  display: flex;
  justify-content: center; /* Add this line */
  margin-bottom: 30px;
}

.product-images img {
  width: 20%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 10px; /* Add this line */
}

.product-images img:hover {
  transform: scale(1.1);
}

/* Style the paragraph */
.yl .container p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}
/* Irom */
=======
>>>>>>> 4340523 (Done)
