* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 3rem;
}

.container {
  max-width: 450px;
  width: 90%;
  background-color: #fff;
  border-radius: .75em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1.5rem;
}

h2 {
  text-align: center;
  color: rgb(var(--primary));
  margin-bottom: 1.5rem;
}

#loginForm label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

#loginForm input[type=text],
#loginForm input[type=password] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: solid 1px var(--gray);
  border-radius: .25em;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 .75rem;
  transition: border-color ease-in-out .15s;
  width: 100%;
}

#loginForm input[type=text]:focus,
#loginForm input[type=password]:focus {
  border-color: rgb(var(--accent));
}

#loginForm [type=submit] {
  align-items: center;
  background-image: linear-gradient(-135deg, transparent 66%, rgb(var(--accent)) 0),linear-gradient(to right bottom, rgb(var(--accent)), rgb(var(--secondary)));
  background-origin: content-box,border-box;
  background-size: 0% 100%,auto auto;
  border: solid 1px transparent;
  border-radius: .25em;
  color: white;
  cursor: pointer;
  justify-content: center;
  min-height: 2.5rem;
  padding: 0 calc(.75rem + 1ch) !important;
  position: relative;
  text-transform: uppercase;
  transition: background-position ease-in-out .15s,background-size ease-in-out .15s;
  width: 100%;
}

#loginForm [type=submit].loading::before {
  animation: spin infinite 1s steps(8);
  border: solid 2px currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 1em;
  left: -1.5em;
  opacity: .5;
  position: absolute;
  top: calc((100% / 2) - (.5em / 2));
  transform: translateY(-50%) scale(.5);
  vertical-align: middle;
  width: 1em;
}

@keyframes spin {
 from { transform: rotateZ(0deg); }
   to { transform: rotateZ(360deg); }
}

/* Responsive Styles */
@media screen and (max-width: 400px) {
  h2 {
      font-size: 1.5rem;
  }
  
  #loginForm input[type=text],
  #loginForm input[type=password] {
      font-size: 1rem;
  }
}