<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Style -->
    <link rel="stylesheet" href="../static/style/header.css" />
    <link rel="stylesheet" href="../static/style/common.css" />
    <link rel="stylesheet" href="../static/style/product.css" />
    <link rel="stylesheet" href="../static/style/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body>
    <!-- Omar -->
    <header class="header">
      <nav class="navbar">

        <ul class="nav-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="search">
          <form action="#">
            <input
              class="search-bar"
              type="text"
              name="search"
              id=""
              placeholder="Search.."
            />
            <button type="submit" class="btn search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <div class="main-user">
          <a href="#"><i class="fas fa-shopping-cart shop-icon"></i></a>
          <i class="fa-solid fa-user user"></i>

          <div class="user-btn">
            <button class="btn signup-btn">Sign Up</button>
            <button class="btn login-btn">Log In</button>
          </div>
        </div>
        <div class="nav-icon">
          <i class="fa fa-bars" aria-hidden="true"></i>
          <div></div>
        </div>
      </nav>
      <div class="ban">
        <h1>Welcome to Alkabulan</h1>
        <p>Buy your food today with a click</p>
        <button class="btn">Learn More</button>
      </div>
    </header>

    <section class="about-section">
      <article class="container">
        <h1 class="about-title">About US</h1>
        <div class="about-img">
          <img src="../static/images/banner.jpg" alt="" class="about-img-div" />
        </div>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id vero est
          dolore, explicabo assumenda, quia asperiores eum fugiat rem provident
          accusantium. Ad nostrum nihil, sequi iste impedit fugiat reprehenderit
          nesciunt.
        </p>
      </article>
    </section>
    <!-- Irom -->
    <section>
      <article class="container">
        <section class="category">

  </body>
</html>
