<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/header.css" />
    <link rel="stylesheet" href="../static/style/common.css" />
    <link rel="stylesheet" href="../static/style/product.css" />
    <link rel="stylesheet" href="../static/style/footer.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body>
    <!-- Omar -->
    <header class="header">
      <nav class="navbar">
        <div class="logo"><span class="logo-letter">A</span>lkabulan</div>
        <ul class="nav-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="search-bar">
          <input type="text" name="" id="" placeholder="Search" />
          <button type="submit" class="btn">Search</button>
        </div>
        <div class="user-btn">
          <button class="btn">Sign Up</button>
          <button class="btn">Log In</button>
        </div>
      </nav>
      <div class="ban">
        <h1>Welcome to Alkabulan</h1>
        <p>Buy your food today with a click</p>
        <button class="btn">Learn More</button>
      </div>
    </header>

    <section class="re">
      <article class="container">
        <h1>About US</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id vero est
          dolore, explicabo assumenda, quia asperiores eum fugiat rem provident
          accusantium. Ad nostrum nihil, sequi iste impedit fugiat reprehenderit
          nesciunt.
        </p>
      </article>
    </section>
    <!-- Irom -->
    <section class="gr">
      <article class="container">
        <h1>Products</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id vero est
          dolore, explicabo assumenda, quia asperiores eum fugiat rem provident
          accusantium. Ad nostrum nihil, sequi iste impedit fugiat reprehenderit
          nesciunt.
        </p>
      </article>
    </section>
    <section class="yl">
      <article class="container">
        <h1>Best Selling</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id vero est
          dolore, explicabo assumenda, quia asperiores eum fugiat rem provident
          accusantium. Ad nostrum nihil, sequi iste impedit fugiat reprehenderit
          nesciunt.
        </p>
      </article>
    </section>
    <!-- Omar -->
    <!-- <section class="yl">
      <article class="container">
        <h1>Reviews</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id vero est
          dolore, explicabo assumenda, quia asperiores eum fugiat rem provident
          accusantium. Ad nostrum nihil, sequi iste impedit fugiat reprehenderit
          nesciunt.
        </p>
      </article>
    </section> -->
    <!-- Irom -->
    <footer class="gr">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id vero est
      dolore, explicabo assumenda, quia asperiores eum fugiat rem provident
    </footer>
  </body>
</html>
