<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../static/style/register.css">
</head>
<body>
    <div class="wrapper">
        <h1>User Registration</h1>
        <form action="registration_process.php" method="POST">
            <div class="input-box">
                <input type="text" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirm Password" required>
            </div>
            <input type="submit" class="btn" value="Register">
        </form>
        <div class="register-link">
            <p>Already have an account? <a href="signin.html">Sign In</a></p>
        </div>
    </div>
</body>
</html>