<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Style -->
    <link rel="stylesheet" href="../static/style/header.css" />
    <link rel="stylesheet" href="../static/style/common.css" />
    <link rel="stylesheet" href="../static/style/product.css" />
    <link rel="stylesheet" href="../static/style/footer.css" />
    <link rel="stylesheet" href="../static/style/about.css" />
    <link rel="stylesheet" href="../static/style/details.css" />
    <link rel="stylesheet" href="../static/style/shop.css" />
    <!-- Awesome Font -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Jqury-->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body>
    <!-- Omar -->
    <header class="header">
      <nav class="navbar">
        <div class="logo">
          <a href="#"><span class="logo-letter">A</span>lkebulan</a>
        </div>

        <ul class="nav-menu">
          <li><a href="../templates/index.html">Home</a></li>
          <li><a href="#products-scroll">Products</a></li>
          <li><a href="#about-scroll">About Us</a></li>
          <li><a href="../templates/contact.html">Contact Us</a></li>
        </ul>
        <div class="main-user">
          <a href="#" class="shop-icon"
            ><i class="fas fa-shopping-cart shop-icon"></i> <span></span
          ></a>
          <i class="fa-solid fa-user user"></i>
        </div>
      </nav>
      
    </header>

    <section class="container">
      <h2 class="cart-title">Cart</h2>
      <div class="shop"></div>
    </section>
    <footer class="footer">
        <p>&copy; 2024 Alkabulan. All Rights Reserved. <h5>Made by Omar & Irom & Misati</h5></p>
      </footer>
    <script src="../static/scripts/javascript.js"></script>
  </body>
</html>
