{% extends 'base.html' %} {% block body %}
<!-- Contact Page -->
<section id="contact">
  <div class="banner">
    <div class="banner-heading">
      <h1>Contact Us</h1>
    </div>
  </div>
  <div class="container">
    <h2>Get in Touch</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info">
          <h3>Contact Information</h3>
          <p>
            <i class="fas fa-map-marker-alt"></i> 123 Main Street, City, State,
            Zip Code
          </p>
          <p><i class="fas fa-phone"></i> (123) 456-7890</p>
          <p><i class="fas fa-envelope"></i> contact@example.com</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-image-container">
          <img
            src="../static/images/contact_image.avif"
            alt="A beautiful sunset"
            class="contact-image"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-form">
          <h3>Send a Message</h3>
          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Subject"
                required
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                rows="5"
                placeholder="Your Message"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
