{% extends 'base.html' %} {% block body %}

<!-- START DETATILS SECTION -->
<section class="product-details container">
  <div class="selected-product">
    <div class="product-container">
      <div class="product-images">
        <img src="{{ url_for('static', filename=details.picture) }}" alt="Product Image" />
      </div>
      
      <div class="product-details">
        <h2>{{  details.name  }}</h2>
        <p class="price">${{  details.price  }}</p>
        <p>
          {{  details.description  }}
        </p>
        <button class="add-to-cart-btn">ADD TO CART</button>
      </div>
    </div>
  </div>
  <div class="related-products-container">
    <h2 class="related-products-title">Related <span class="about-span">Products</span></h2>
    <div class="related-products">
      {% for product in products[0:3] %}
      <a href="{{ url_for('details', farmer_product_id=product.id) }}?{{  cache_id  }}">
        <article
          class="item"
          data-id="{{ product.id }}"
          data-name="{{ product.name }}"
        >
          <img src="{{ url_for('static', filename=product.picture) }}" alt="" class="product-image" />
          <h2>{{ product.name }}</h2>
          <div class="price">
            <div class="newPrice">
              <span>${{ product.price }}</span>
            </div>
          </div>
          <button class="add-to-cart-btn" id="add-to-cart">
            <i class="fas fa-shopping-cart"></i>&nbsp; ADD TO CART
          </button>
        </article>
      </a>
    {% endfor %}
    </div>
</section>
<!-- END DETATILS SECTION -->

{% endblock %}
