{% extends 'base.html' %} {% block body %}

<!-- START ABOUT SECTION -->
<section class="container">
  <h1 id="about-scroll" class="about-title">
    About&nbsp; <span class="about-span">US</span>
  </h1>
  <article class="about-section">
    <article class="about-img">
      <img src="../static/images/banner.jpg" alt="" class="about-img-div" />
    </article>
    <article class="about-text">
      <h1><span class="about-span">A</span>lkebulan</h1>
      <div class="bottom-line"></div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id vero est
        dolore, explicabo assumenda, quia asperiores eum fugiat rem provident
        accusantium. Ad nostrum nihil, sequi iste impedit fugiat reprehenderit
        nesciunt.
      </p>
    </article>
  </article>
</section>
<!-- END ABOUT SECTION  -->

<!-- START BEST SELLING SECTION -->
<section id="products-scroll" class="container">
  <h1 class="about-title">
    Best&nbsp; <span class="about-span">Selling</span>
  </h1>
  <div class="bestSellingProducts">
    {% for product in products[0:3] %}
    <a href="{{ url_for('details', farmer_product_id=product.id) }}?{{  cache_id  }}">
      <article
        class="item"
        data-id="{{ product.id }}"
        data-name="{{ product.name }}">
        <img src="{{ url_for('static', filename=product.picture) }}" alt="" class="product-image" />
        <h2>{{ product.name }}</h2>
        <div class="price">
          <div class="newPrice">
            <span>${{ product.price }}</span>
          </div>
        </div>
        <form class="add-to-cart-form" action="{{ url_for('order', farmer_product_id=product.id) }}" method="post">
          <input type="hidden" name="quantity" value="1">
          <button type="submit" class="add-to-cart-btn">
              <i class="fas fa-shopping-cart"></i>  ADD TO CART
          </button>
      </form>
      
      </article>
    </a>
    {% endfor %}
  </div>
</section>
<!-- END BEST SELLING SECTION -->

<!-- START PRODUCTS SECTION -->
<section id="products-scroll" class="container">
  <h1 class="about-title">
    Products&nbsp; <span class="about-span">list</span>
  </h1>
  <div class="listProductsHome" id="add-product">
    {% for product in products[0:6] %}
    <a href="{{ url_for('details', farmer_product_id=product.id) }}?{{  cache_id  }}">
      <article
        class="item"
        data-id="{{ product.id }}"
        data-name="{{ product.name }}"
      >
        <img src="{{ url_for('static', filename=product.picture) }}" alt="" class="product-image" />
        <h2>{{ product.name }}</h2>
        <div class="price">
          <div class="newPrice">
            <span>${{ product.price }}</span>
          </div>
        </div>
        <form class="add-to-cart-form" action="{{ url_for('order', farmer_product_id=product.id) }}" method="post">
          <input type="hidden" name="quantity" value="1">
          <button type="submit" class="add-to-cart-btn">
              <i class="fas fa-shopping-cart"></i>  ADD TO CART
          </button>
      </form>
      </article>
    </a>
    {% endfor %}
  </div>
  <a href="{{ url_for('products') }}" class="btn more-btn"
    >More <span>&rarr;</span></a
  >
</section>
<!-- END PRODUCTS SECTION -->


{% endblock %}
