{% extends 'base.html' %} {% block body %}

<!-- START PRODUCTS SECTION -->
<section class="container">
  <h1>Products</h1>
  <div class="products">
    {% for product in products %}
    <article class="item" data-id="{{product.id}}" data-name="{{product.name}}">
      <img src=static{{ product.picture }} alt="" class="product-image" />
      <h2>{{  product.name  }}</h2>
      <div class="price">
        <div class="newPrice"><span>${{  product.price  }}</span></div>
      </div>
      <button class="add-to-cart-btn" id="add-to-cart">
        <i class="fas fa-shopping-cart"></i>&nbsp; ADD TO CART
      </button>
    </article>
    {% endfor %}
  </div>
</section>
<!-- END PRODUCTS SECTION -->

{% endblock %}
