<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../static/style/common.css">
    <link rel="stylesheet" href="../static/style/signup.css">
</head>
<body>
    <div class="wrapper">
        <h1>Sign Up</h1>
        <form action="#" method="POST">
            <div class="input-box">
                <input type="text" placeholder="Full Name" name="full_name" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Username" name="user_name" required>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Email" name="email" required>
            </div>
            <div class="input-box">
                <input type="tel" placeholder="Phone Number" name="phone_number" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Location" name="location" required>
            </div>
            <div class="input-box">
                <select name="role" required>
                    <option value="" disabled selected>Select Role</option>
                    <option class="drop-down" value="consumer">Consumer</option>
                    <!--<option class="drop-down" value="farmer">Farmer</option>-->
                </select>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" name="password" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirm Password" name="confirm_password" required>
            </div>
            <input type="submit" class="btn" value="Register">
        </form>
        <div class="register-link">
            <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
        </div>
    </div>
</body>
</html>